<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingying.shopping.master.dao.GoodsCardsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xingying.shopping.master.entity.GoodsCards">
        <id column="GOODS_ID" property="goodsId" />
        <result column="GOODS_SPC" property="goodsSpc"  />
        <result column="GOODS_CARDS" property="goodsCards"  />
        <result column="CARDS_FLAG" property="cardsFlag"  />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        GOODS_ID, GOODS_SPC, GOODS_CARDS, CARDS_FLAG
    </sql>

    <!-- 分页查询 -->
    <select id="getListByPage" resultType="com.xingying.shopping.master.entity.GoodsCards">
        select
            <include refid="Base_Column_List" />
        from
            XINGYING_SHOP.GOODS_CARDS
        <where>
            <if test="goodsId != null  and goodsId != '' ">
                AND GOODS_CARDS.GOODS_ID = #{goodsId}
            </if>
            <if test="goodsSpc != null  and goodsSpc != '' ">
                AND GOODS_CARDS.GOODS_SPC = #{goodsSpc}
            </if>
            <if test="cardsFlag != null  and cardsFlag != '' ">
                AND GOODS_CARDS.CARDS_FLAG = #{cardsFlag}
            </if>
        </where>
    </select>
</mapper>
