<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingying.shopping.master.dao.OrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xingying.shopping.master.entity.OrderDetail">
        <id column="ORDER_DETAIL_ID" property="orderDetailId" />
        <result column="GOODS_ID" property="goodsId"  />
        <result column="ORDER_ID" property="orderId"  />
        <result column="PRICE" property="price"  />
        <result column="TOTAL" property="total"  />
        <result column="TOTAL_AMOUNT" property="totalAmount"  />
        <result column="GOODS_SPC" property="goodsSpc"  />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORDER_DETAIL_ID, GOODS_ID, ORDER_ID, PRICE, TOTAL, TOTAL_AMOUNT, GOODS_SPC
    </sql>

    <!-- 分页查询 -->
    <select id="getListByPage" resultType="com.xingying.shopping.master.entity.OrderDetail">
        select
            <include refid="Base_Column_List" />
        from
            XINGYING_SHOP.ORDER_DETAIL
        <where>
            <if test="orderDetailId != null  and orderDetailId != '' ">
            </if>
            <if test="goodsId != null  and goodsId != '' ">
            </if>
            <if test="orderId != null  and orderId != '' ">
            </if>
            <if test="price != null  and price != '' ">
                AND ORDER_DETAIL.PRICE = #{price}
            </if>
            <if test="total != null  and total != '' ">
                AND ORDER_DETAIL.TOTAL = #{total}
            </if>
            <if test="totalAmount != null  and totalAmount != '' ">
                AND ORDER_DETAIL.TOTAL_AMOUNT = #{totalAmount}
            </if>
        </where>
    </select>
</mapper>
